.html .text-image-comp {
  margin-top: 50px;
}
.html .text-image-comp.left .c-header .tagline {
  display: block;
  float: right;
}
.html .text-image-comp.left .c-header .title {
  display: block;
  float: left;
}
.html .text-image-comp.left .c-content .image-container {
  text-align: right;
}
.html .text-image-comp.right .c-header .tagline {
  display: block;
  float: left;
}
.html .text-image-comp.right .c-header .title {
  display: block;
  float: right;
}
.html .text-image-comp.right .c-content .image-container {
  text-align: left;
}
.html .text-image-comp .c-header .title {
  font-size: 42px;
}
.html .text-image-comp .c-header .line {
  height: 6px;
  float: left;
  width: 100%;
  background: red;
}
.html .text-image-comp .c-header .tagline {
  color: #e2e2e2;
  font-size: 16px;
  margin: 18px 12px;
}
.html .text-image-comp .c-content .image-container {
  margin-top: 30px;
}
.html .text-image-comp .c-content .image-container img {
  max-width: 250px;
  min-height: 200px;
  min-width: 250px;
  border: solid 1px #e2e2e2;
}
.html .text-image-comp .c-content .content-container {
  margin-top: 30px;
}
.html .text-image-comp .c-content .content-container .description {
  font-size: 16px;
}
.html .text-image-comp .c-content .content-container .description .text {
  margin: 20px 40px;
  display: inline-block;
}
.html .block-image-comp {
  margin-top: 70px;
}
.html .block-image-comp article {
  /* background:#f2f2f2; */
  margin-top: 20px;
}
.html .block-image-comp .comp-item {
  padding: 20px;
}
.html .block-image-comp .comp-item:hover {
  /* transition: zoom 2s; */
}
.html .block-image-comp .comp-item:hover .icon {
  background: #f2f2f2;
}
.html .block-image-comp .comp-item h2.title {
  font-size: 24px;
}
.html .block-image-comp .comp-item h2.title:after {
  content: "";
  display: block;
  height: 5px;
  width: 40px;
  background: red;
  margin-top: 5px;
}
.html .block-image-comp .comp-item .icon {
  border: solid 1px #e2e2e2;
  border-radius: 134px;
  display: block;
  width: 64px;
  height: 64px;
  padding: 16px;
  margin: 12px auto;
}
.html .gen-header {
  font-size: 24px;
}
.html .gen-header:after {
  content: "";
  display: block;
  height: 5px;
  width: 40px;
  background: red;
  margin-top: 5px;
}
