<section class="css3basic sec-type-1">
	
	<header class="default-header">
		<h1>CSS3 basics</h1>
	</header>
	<section class="content">
		<section class="bac-anim">
			<header>
				<h2> Background Animation</h2>
			</header>
			<div class="content">
				
				<div class="col-md-4">
					<div class="bg-animation">
						
					</div>
					<h2> Button Animation with background</h2>
					<span href="javascript;" class="ui-btn-type-1">
					Submit
					</span>
				</div>
				<div class="col-md-4">
					<h2>Content appearence</h2>
					<div class="content-block">
						<h1>
							Sample header
						</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laudantium tenetur at voluptates suscipit hic odio voluptatum in, provident excepturi veritatis repudiandae, nihil explicabo amet totam quo, itaque quis natus.</p>
					</div>
				</div>
			</div>
		</section>
	</section>
</section>