<game-view class="main-game-container">
<div class="bg"></div>
	<dragon-game-menu class="dragon-menu">
		<div class="menu-container">
			<ul class="menu-list">
				<li class="active"> 
					<img src="styles/css3/images/gamepad15.png" alt="" class="icon icon-menu">
							<a href="#" class="menu-text"> PS3 Home </a>
							
					<ul class="sub-menu-list">
						<li class="active">
							<img src="styles/css3/images/gamepad15.png" alt="" class="icon icon-menu">
							<a href="#" class="menu-text"> PS3 Home </a>
						</li>
						<li>
							<img src="styles/css3/images/gamepad15.png" alt="" class="icon icon-menu">
							<a href="#" class="menu-text"> PS3 Home </a>
						</li>
					</ul>
						
					<!-- <ul class="sub-menu-list">
						<li>
							<img src="styles/css3/images/gamepad15.png" alt="" class="icon icon-menu">
							<a href="#" class="menu-text"> Game  Box </a>
						</li>
					</ul> -->
		
				</li>
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
			
					<a href="#" class="menu-text">Menu 2</a>
				</li>
				
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
					 <a href="#" class="menu-text">Menu 3</a>
				</li>
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
			
					<a href="#" class="menu-text">Menu 4</a>
				</li>
		
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
			
					<a href="#" class="menu-text">Menu 4</a>
				</li>
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
			
					<a href="#" class="menu-text">Menu 4</a>
				</li>
				<li>
					<img src="styles/css3/images/game93.png" alt="" class="icon icon-menu">
			
					<a href="#" class="menu-text">Menu 4</a>
				</li>
			</ul>
		</div>
		
	</dragon-game-menu>
	
	
	<dragon-content class="dragon-content">
	
	
	
	</dragon-content>
</game-view>