<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href=".include/styles/appstyle.css">
	<!-- endbuild -->
	
</head>
<body ng-app="uiTestingangularApp" >
	<script type='text/ng-template' id='list-items.html'>
		<div class="container-fluid">
				<div  class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" ui-sref="home">UI Testing</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul id="mainNav" class="nav navbar-nav">
								
								<li class="" ng-repeat="item in menu" ng-class="{dropdown:item.subMenu!=undefined}">
										<a ng-if="item.subMenu==undefined" ui-sref="{{item.link}}" class="{{item.link}}" ng-class="{'dropdown-toggle':item.subMenu}" data-toggle="dropdown"><span class="{{item.icon}}"></span>{{item.text}} <span ng-if="item.subMenu" class="caret"></span></a>
										<a  ng-if="item.subMenu!=undefined" class="{{item.link}}" ng-class="{'dropdown-toggle':item.subMenu}" data-toggle="dropdown"><span class="{{item.icon}}"></span>{{item.text}}  <span ng-if="item.subMenu" class="caret"></span></a>
										<ul ng-if="item.subMenu" class="dropdown-menu" role="menu">
												<li ng-repeat="submenu in item.subMenu"><a ui-sref="{{submenu.link}}"><span class="{{item.link}} {{submenu.link}} {{submenu.icon}}"></span>{{submenu.text}}</a></li>
										</ul>
								</li>
						</ul>
						
				</div>
		</div>
			
	</script>
	<div class="app" ng-controller="AppCtrl">
		
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<nav class="navbar navbar-default navbar-fixed-top" navigation="" role="navigation" ng-controller="NavCtrl">
		</nav>
		<!-- Add your site or application content here -->
		<div class="ui-app-view container-fluid" ui-view=""></div>
	</div>
 
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
	</script>-->
	<!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->
	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src=".include/scripts/libraries.js"></script>
	<script src=".include/scripts/appscripts.js"></script>
	<!-- endbuild -->
	
	<!-- build:include:e2e ../test/mock/html/e2e.html -->
	<!-- /build -->
</body>
</html>