<div class="html">
	
	<div class="text-image-comp left">
		<div class="container-fluid">
			<div class="row c-header">
				<div class="col-md-12">
					<div class="col-md-1">
						
					</div>
					 
					<div class="col-md-10">
						<div class="title">
						About
						</div>
						<span class="tagline">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</span>
						<div class="line">
							
						</div>
					</div>
				</div>
			</div>
			<div class="row c-content">
				<div class="col-md-12">
					<div class="col-md-1">
						
					</div>
					<div class="col-md-3 ">
						<div class="image-container">
							<img src="test.png" alt="">
						</div>
					</div>
					<div class="col-md-7 ">
						<div class="content-container">
							<div class="description">
								
								<div class="text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque veritatis itaque commodi esse vitae inventore repellat cum velit maiores, fuga voluptatum ab. Quo, cumque cupiditate? Soluta totam modi illo.
								</div>
								<div >
									<ul class="list-items">
										<li>Item 1</li>
										<li>Item 2</li>
										<li>Item 3</li>
										<li>Item 4</li>
										<li>Item 5</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-image-comp right">
		<div class="container-fluid">
			<div class="row c-header">
				<div class="col-md-12">
				
					 
					
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<div class="title">
							About
						</div>
						<div class="tagline">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="line">
							
						</div>
					</div> 
				</div>
				<div class="row c-content">
					<div class="col-md-12">
						<div class="col-md-1">
							
						</div>
						
						<div class="col-md-7 ">
							<div class="content-container">
							<span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque veritatis itaque commodi esse vitae inventore repellat cum velit maiores, fuga voluptatum ab. Quo, cumque cupiditate? Soluta totam modi illo.</span></div>
						</div>
						<div class="col-md-4 ">
							<div class="image-container">
								<img src="test.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-image-comp">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<article class="comp-item hotel">
							<span class="icon center">
								<img src="images/city8.png" alt="">
							</span>
							<h2 class="title">Webdesign</h2>
							<p>Wir bieten Ihnen perfekt auf ihr Unternehmen angepasste Webseiten an. Dabei spielt es keine Rolle, ob Sie eine kleine Künstlerpage, Web Visitenkarte wünschen, oder eine aufwendige Unternehmens Webseite. Auf Wunsch bieten wir Ihnen die möglichkeit, Ihre Seite selbst, mit einem Content-Mangment-System pflegen zu können. Ist Ihre Webseite vielleicht einfach nicht mehr auf dem neuesten Stand? Gerne bieten wir Ihnen auch ein Re-design an, um sich wieder perfekt am Markt positionieren zu können.</p>
							<p class="text-left">&nbsp;</p>
						</article>
					</div>
					<div class="col-md-4">
						<article class="comp-item">
							<span class="icon center">
								<img src="images/hotel2.png" alt="">
							</span>
							<h2 class="title">Ovkei</h2>
							
							<p>Wir bieten Ihnen perfekt auf ihr Unternehmen angepasste Webseiten an. Dabei spielt es keine Rolle, ob Sie eine kleine Künstlerpage, Web Visitenkarte wünschen, oder eine aufwendige Unternehmens Webseite. Auf Wunsch bieten wir Ihnen die möglichkeit, Ihre Seite selbst, mit einem Content-Mangment-System pflegen zu können. Ist Ihre Webseite vielleicht einfach nicht mehr auf dem neuesten Stand? Gerne bieten wir Ihnen auch ein Re-design an, um sich wieder perfekt am Markt positionieren zu können.</p>
							<p class="text-left">&nbsp;</p>
						</article>
					</div>
					<div class="col-md-4">
						<article class="comp-item">
							<span class="icon center">
								<img src="images/bed28.png" alt="">
							</span>
							<h2 class="title">Precsg</h2>
							
							<p>Wir bieten Ihnen perfekt auf ihr Unternehmen angepasste Webseiten an. Dabei spielt es keine Rolle, ob Sie eine kleine Künstlerpage, Web Visitenkarte wünschen, oder eine aufwendige Unternehmens Webseite. Auf Wunsch bieten wir Ihnen die möglichkeit, Ihre Seite selbst, mit einem Content-Mangment-System pflegen zu können. Ist Ihre Webseite vielleicht einfach nicht mehr auf dem neuesten Stand? Gerne bieten wir Ihnen auch ein Re-design an, um sich wieder perfekt am Markt positionieren zu können.</p>
							<p class="text-left">&nbsp;</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>