<ng-include src="/views/playlist/templates.html"> </ng-include>
<div class="top5">
	<h1>Top 5</h1>
	<ul>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist1.json" class='plist-trigger'  >Playlist 1</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist2.json" class='plist-trigger' >Playlist 2</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist3.json" class='plist-trigger' >Playlist 3</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist4.json" class='plist-trigger' >Playlist 4</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist5.json" class='plist-trigger' >Playlist 5</a></li>
	</ul>
</div>
<div class="insights">
	<a href="javascript:void(0)" data-path="/data/playlists/insights.json" class='plist-trigger'  mode="grouper" class="view-all">View All</a>
	<ul>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist1.json" class='plist-trigger' >carausel 1</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist2.json" class='plist-trigger' >carausel 2</a></li>
		<li><a href="javascript:void(0)" data-path="/data/playlist/playlist3.json" class='plist-trigger' >carausel 3</a></li>
	</ul>
</div>
<div id="playlist" class="playlist" playlist-type="insights" playlist-overlay="" style="display:none;" >
	
</div>
