<div class="emicalc">
	<h3>EMI Calculator</h3>
	<div class="viewport">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<form role="form">
						<div class="form-group has-feedback">
							<label for="loanAmount">Loan Amount</label>
							<input type="text" class="form-control" id="loanAmount" placeholder="Loan Amount"/>
							<span class="help-block">Enter principal amount</span>
						</div>
						<div class="form-group has-feedback">
							<label for="roi">Rate of Interest</label>
							<input type="text" class="form-control" id="roi" placeholder="Rate of Interest"/>
							
						</div>
						<div class="form-group has-feedback">
							<label for="tenure">Tenure (Months)</label>
							<input type="text" class="form-control" id="tenure" placeholder="Tenure (Months)"/>
						</div>
						<button type="submit" class="btn btn-primary">Calculate</button>
					</form>
				</div>
				<div class="col-md-8">
					<table class="table table-striped">
						<thead>
							<tr>
							<th>EMI#</th>
							<th>Amount</th>
							<th>Interest</th>
							<th>Balance</th>
						</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>1000/-</td>
								<td>500/-</td>
								<td>40000</td>
							</tr>
							<tr>
								<td>1</td>
								<td>1000/-</td>
								<td>500/-</td>
								<td>40000</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>