<div class="emicalc">
	<h3>EMI Calculator</h3>
	<div class="viewport">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<form role="form">
						<div class="form-group ">
							<label for="loanAmount">Loan Amount</label>
							<input type="number" ng-model="loanAmount" class="form-control" id="loanAmount" placeholder="Loan Amount"/>
							<!-- <span class="help-block">Enter principal amount</span> -->
						</div>
						<div class="form-group ">
							<label for="roi">Rate of Interest</label>
							<input type="number" ng-model="roi" class="form-control" id="roi" placeholder="Rate of Interest"/>
							
						</div>
						<div class="form-group ">
							<label for="tenure">Tenure (Months)</label>
							<input type="number" ng-model="tenure"  class="form-control" id="tenure" placeholder="Tenure (Months)"/>
						</div>
						<button type="button" id="btnCalculate" ng-click="calculate()" class="btn btn-primary">
						<span class="icon fa fa-inr"></span>
						Calculate</button>
						<button type="button" id="btnReset" ng-click="reset()" class="btn btn-primary">
						Reset</button>
					</form>
					<div class="details" ng-show="{'schedule':true}[mode] && details">
						<div class="form-group">
							<label for="">Loan Amount</label>
						<span class="text"><span class="icon fa fa-inr"></span>{{loanAmount | number:0}}</span> </div>
						<div class="form-group">
							<label for="">EMI</label>
						<span class="text"><span class="icon fa fa-inr"></span>{{details.emi| number:0}}</span> </div>
						<div class="form-group">
							<label for="">Interest</label>
						<span class="text"><span class="icon fa fa-inr"></span>{{details.interest| number:0}}</span></div>
						<div class="form-group">
							<label for="">Total Amount</label>
						<span class="text"><span class="icon fa fa-inr"></span>{{details.totalAmount| number:0}}</span> </div>
					</div>
					
				</div>
				<div class="col-md-8">
					<table id="tblResults" class="schedule-table table table-striped" ng-show="{'schedule':true}[mode] && results.length>0">
						<thead>
							<tr>
								<th>EMI#</th>
								<th>EMI Amount</th>
								<th>Principal</th>
								<th>Interest</th>
								<th>Balance</th>
							</tr>
						</thead>
						<tbody>
							
							<tr ng-repeat="res in results">
								<td>{{res.no }}</td>
								<td><span class="icon fa fa-inr"></span>{{res.emi | number :0}}</td>
								<td><span class="icon fa fa-inr"></span>{{res.principal | number :0}}</td>
								<td><span class="icon fa fa-inr"></span>{{res.interest | number :0}}</td>
								<td><span class="icon fa fa-inr"></span>{{res.balance | number :0}}</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>